<!DOCTYPE html>
<html lang = "ja">
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    	<title><%= title %></title>
	<link rel = "stylesheet"  type = "text/css" href = "../css/bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "../stylesheets/style.css">
</head>
<body class = "container">
    	<h1 class = "display-4"><%= title %></h1>
    	<p>Welcome to <%= title %></p>

	<div>
		<h1>Hello,<%= title %></h1>
		<p>this is sayoko's web top page!!</p>
	</div>

	<!--PROFILE--!>
	<div class = "mainVisual">

		<div class = "mainVisual__body">
			<h1 class = "mainVisual__ttl">PROFILE</h1>
			<p class = "mainVisual__oneWord">元総合職女子　×　転職・採用のプロ人事<br>iodusアイオダス主宰</p>
			<p class = "mainVisual__txt">1977年生まれ 香川県高松市 出身<br>大阪外国語大学（現 大阪大学）外国語学部 タイ語科 卒業</p>
			<p class = "mainVisual__txt_more">大学卒業後、映像制作会社とWEB制作会社で、クリエイターとしての経験を積んだ後、蔦屋書店やTポイントを運営するカルチュア・コンビニエンス・クラブ、シニア女性誌発行部数No.1の出版社ハルメク・ホールディングスで、人事歴10年以上。<br>これまで5万人以上の履歴書を見てきた転職・採用のプロ。<br>2018年に、首都圏から主人の地元である群馬県太田市に転居。その後、コロナ禍で東京勤務をあきらめ、2020年に会社員を卒業。現在はフルリモートのフリーランス人事として、企業の採用支援などをおこなう。<br><br>転職歴5回、転勤歴5回、引越し歴16回。<br>TV番組のAD、映像制作、イベント運営、営業、バイヤー、スーパーバイザー、人事 他、豊富な職種経験とキャリアチェンジで、ポータブルスキルを磨いてきた【元 総合職女子】。<br><br>その経験を活かして、働く女性のキャリア支援をおこなう「総合職女子専属 キャリアのパーソナルトレーニング&lt;iodusアイオダス&gt; 」を主宰。<br><br>・AIジャーナリングアプリ「muute（ミュート）」アンバサダー<br>・ファイナンシャルプランナー<br>・薬膳コーディネーター</p>
			<img src = "../images/profile.jpeg">
			<p>定年後も看護師をしていた明るい母と、80歳を超えても工事現場で働いていたパワフルな祖母をロールモデルとして育った私にとって、「働く女性」とは、いつも自分らしく輝いていてほしい、リスペクトすべき存在です。<br>これまで企業の人事として、多くのキャリア女性の仕事相談にのる中で、魅力的な経験やスキルをもっていても、それをうまく言語化できず「自分には何もない」と、自己肯定感が低い人に数多く出会いました。<br>彼女たちが、自分の強みを発見し、納得のいくキャリアを選択できるよう、<strong>30代からの総合職女性向け「I（私）を出す【アイオダス&lt;iodus&gt;】キャリアプログラム」</strong>を立ち上げました。<br><br>これまで10年以上、のべ5万人以上の履歴書・職務経歴書を見てきた転職・採用のプロとして仕事や会社、キャリアの壁を前に立ちすくむ女性が「はたらいている私、けっこう好き！」と、仕事人生をタフに楽しめるようになるような、キャリアのパーソナルトレーニングをしていきます。</p>
		</div>

		<figure class = "mainVisual__ph">
			<picture>
				<source media = "(max-width: 767px)" srcset = "../images/profile.jpeg">
				<source media = "(min-width: 768px)" srcset = "../images/profile.jpeg">
				<img src = "../images/profile.jpeg" width = "1475" height = "940" alt = "">
			</picture>
		</figure>
	</div>

	
	<script src = "../node_modules/jquery/dist/jquery.min.js"></script>
	<script src = "../dist/js/bootstrap.min.js"></script>	



</body>
</html>
