<!DOCTYPE html>
<html lang = "ja">
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    	<title><%= title %></title>
	<!--<link rel = "stylesheet"  type = "text/css" href = "../css/bootstrap.min.css>!-->
	<link rel = "stylesheet" type = "text/css" href = "../style.css">
	<!--<script src = "../js/bootstrap.min.js"></script>!-->
	<script src = "../jquery/dist/jquery.js"></script>
	<script src = "../jquery/dist/jquery.min.js"></script>
	<script type = "text/javascript" src = "../jquery/dist/main.js"></script>
</head>
<body class = "container">
	<div><%= title %></div>
	<div><p><%- content %></p></div>
	
	<ul class = "accordion-area">
		<li>
			<section>
				<h3 class = "q">Q: 「オンラインキャリア相談」はどんなことをするのですか？</h3>
				<div class = "box">
					<p>A: 1対1の対話形式で、現在のお悩みや課題への壁打ちや、キャリア選択のアドバイスをおこないます。今すぐ解決したい課題がある方、目標達成に向けての壁打ちや振り返りをしたい方、面接対策や履歴書・職務経歴書の添削など、転職活動の支援をご希望の方におすすめです。</p>
				</div>
			</section>
		</li>

		<li>
			<section>
				<h3 class = "q">Q: どんな職種でも利用できますか？</h3>
				<div class = "box">
					<p>A: どんなお仕事の方でも大丈夫です。すでに体験された方は、営業職、事務職、デザイナーなどさまざまな職業の方がいらっしゃいます。</p>
				</div>
			</section>
		</li>

		<li>
			<section>
				<h3 class = "q">Q: 転職を希望しているわけではないのですが、大丈夫ですか？</h3>
				<div class = "box">
					<p>A: もちろんご利用いただけます。自分のキャリアを考えた結果、現職を続ける、独立する、ボランティアを始める、といった答えに繋がる人もいらっしゃいます。</p>
				</div>
			</section>
		</li>

		<li>
			<section>
				<h3 class = "q">Q: 無理に転職を勧められたりしませんか？</h3>
				<div class = "box">
					<p>A: 本サービスは転職を推奨するものではありません。転職先を紹介するといったサービスもしておりませんし、転職エージェントとの提携もございません。こちらから転職を勧めることは一切ございませんので、安心してご利用ください。</p>
				</div>
			</section>
		</li>

		<li>
			<section>
				<h3 class = "q">Q: どのコースを選べばよいかわかりません。</h3>
				<div class = "box">
					<p>A: どのサービスを受けるか迷ったら、お気軽にご相談ください！<br>あなたにぴったりのコースを一緒に検討しましょう。<br>※下記のお申し込みフォームから、ご希望のメニュー「お問い合わせ」を選択してご連絡ください。</p>
				</div>
			</section>
		</li>

		<li>
			<section>
				<h3 class = "q">Q: 総合職でなくても利用できますか？</h3>
				<div class = "box">
					<p>A: はい、ご利用いただけます。私のこれまでの経験から、特に「総合職女性」のキャリア相談に強みがあるのですが、働く女性共通のお悩みにも対応させていただいております。</p>
				</div>
			</section>
		</li>

		<li>
			<section>
				<h3 class = "q">Q: 「30代からのキャリアトレーニング」と書かれていますが、30代でなくても利用できますか？</h3>
				<div class = "box">
					<p>A: はい、現在お仕事されている方や、これから働きたいと思っている方なら、何歳でも大丈夫です。私のこれまでの経験から、ライフステージの変化が激しい30代からの女性のキャリア相談に強みがあるのですが、さまざまな年代の女性のお悩み相談の経験がありますので、ご安心ください。</p>
				</div>
			</section>
		</li>
	</ul>
</body>
</html>
